server:
  port: 8888
  servlet:
    application-display-name: "Config Center"
  compression:
    enabled: true
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.security.oauth2.server.resource.autoconfigure.servlet.OAuth2ResourceServerAutoConfiguration
      - org.springframework.boot.amqp.autoconfigure.RabbitAutoConfiguration
  application:
    name: config-center
  profiles:
    active: native
    group:
      standalone:
        - native
        - bus
        - management
  rabbitmq:
    enabled: false
  cloud:
    bus:
      enabled: false
    config:
      server:
        native:
          search-locations:
            - file:/@project.basedir@/configserver.d
            - file:/${user.home}/configserver.d
          default-label: main
  security:
    user:
      name: configserver
    oauth2:
      enabled: false
      resourceserver:
        enabled: ${spring.security.oauth2.enabled:false}
  web:
    error:
      include-message: always
management:
  server:
    port: -1
