server:
  port: 8888
  servlet:
    application-display-name: "Config Server"
  error:
    include-message: always
  compression:
    enabled: true
spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.oauth2.resource.servlet.OAuth2ResourceServerAutoConfiguration
      - org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration
  application:
    name: config-server
  profiles:
    active: native
    group:
      standalone:
        - native
        - bus
        - management
  rabbitmq:
    enabled: false
  cloud:
    bus:
      enabled: false
    config:
      server:
        jdbc:
          enabled: false
        native:
          search-locations:
            - file:/@project.basedir@/configserver.d
            - file:/${user.home}/configserver.d
          default-label: main
  security:
    user:
      name: configserver
    oauth2:
      resourceserver:
        enabled: false
management:
  server:
    port: -1
