server:
  port: 8888
  servlet:
    application-display-name: ${spring.application.name}
  error:
    include-message: always
spring:
  application:
    name: '@project.name@'
  profiles:
    active: native
  security:
    user:
      name: root
      password: root
      roles: system
  cloud:
    config:
      server:
        native:
          search-locations: file:./config.d
          default-label: main
management:
  info:
    build:
      enabled: true
    os:
      enabled: true
    defaults:
      enabled: true
    java:
      enabled: true
  endpoint:
    health:
      enabled: true
    restart:
      enabled: true
    refresh:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
logging:
  file:
    path: ./logs
    name: ${logging.file.path}/latest.log
  threshold:
    file: INFO
    console: INFO
  level:
    root: debug
security:
  whitelist:
    GET:
      - /webjars/**
      - /v3/api-docs/**
      - /*/v3/api-docs/**
      - /*/*/v3/api-docs/**
      - /swagger-ui.html
      - /swagger-ui/**
      - /swagger-resources
      - /swagger-resources/**
      - /configuration/ui
      - /configuration/security
      - /actuator/**
      - /*/actuator/**
      - /error
    POST:
      - /sso/logout
      - /logout
